* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #8b008b2e;
}
.container {
  width: 100%;
}

.temparature {
  max-width: 350px;
  background-color: rgb(248 231 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 125px;
}
.temparature img {
  width: 65px;
  mix-blend-mode: darken;
}
.temparature h2 {
  padding: 25px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.temparature label {
  width: 100%;
}

.temparature input[type="number"],
select {
  width: 100%;
  height: 35px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.temparature button {
  height: 30px;
  width: 80px;
  border-radius: 7px;
  background-color: rgb(1 123 255);
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#result {
  padding: 10px;
  text-align: center;
}

@media (max-width: 425px) {
  .temparature {
    margin: 125px 10px;
  }
}
